@use "../../../styles/abstracts/mixins" as *;
@use "../../../styles/abstracts/variables" as var;

.section {
  position: relative;
  margin-bottom: 2rem;

  &.with-border {
    border-bottom: 1px solid #e5e7eb;
  }
}
