@use "../../abstracts/mixins" as mixins;
@use "../../abstracts/variables" as var;

.card {
  width: 100%;
  border-radius: var.$radius-lg;
  padding: var.$padding-lg;
  background-color: var.$card-bg;
  border: var.$border-dark;
  white-space: nowrap;
  box-shadow: var.$shadow-default;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: fit-content;

  .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var.$gap-sm;
  }

  @media (max-width: var.$breakpoint-md) {
    max-width: 100%;
  }
}

.inner-auto-card {
  width: auto;
  white-space: nowrap;
}

.restaurant-card {
  border-radius: var.$radius-lg;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: var.$shadow-default;

  &-header {
    border-bottom: var.$border-light;
  }

  &-info {
    margin-bottom: var.$margin-lg;
    display: flex;
    flex-direction: column;
    gap: var.$gap-sm;
  }

  &-date-info,
  &-user-info {
    display: flex;
    align-items: center;
    gap: var.$gap-xs;
    color: var.$text-subtle;

    svg {
      color: var.$color-primary;
    }
  }

  &-menu {
    border-radius: var.$radius-md;
    padding: var.$padding-md var.$padding-lg;
    max-height: 350px;
    overflow-y: auto;
    background-color: #fbfdff60;
    border: var.$border-light;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: var.$color-gray-300;
      border-radius: 4px;
    }
  }

  &-menu-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var.$text-color;
    margin-bottom: var.$margin-md;
  }

  &-categories {
    display: flex;
    flex-direction: column;
    gap: var.$gap-md;
  }

  &-category-block {
    display: flex;
    flex-direction: column;
    gap: var.$gap-sm;
  }

  &-category-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    color: var.$color-primary;
  }

  &-category-count {
    font-size: 0.75rem;
  }

  &-menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-menu-item {
    position: relative;
    padding: var.$padding-sm var.$padding-md var.$padding-sm 1rem;
    font-size: 1rem;
    background-color: var.$color-gray-200;
    color: var.$text-subtle;
    border-radius: var.$radius-sm;

    &::before {
      content: '';
      position: absolute;
      left: 0.5rem;
      top: 0.8rem;
      width: 4px;
      height: 4px;
      background-color: var.$color-primary;
      border-radius: 50%;
    }
  }
}


.not-voted-card {
  overflow: hidden;
  width: fit-content;
  max-width: 100%;
  flex-shrink: 0;

  &-header {
    border-radius: var.$radius-md;
    background-color: #fef2f2;
    padding: var.$padding-sm var.$padding-md;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var.$gap-lg;
  }

  &-title {
    display: flex;
    align-items: center;
    gap: var.$gap-xs;

    svg {
      color: var.$color-danger;
    }

    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0;
      color: #991b1b;
      margin-top: 5px;
    }
  }

  &-badge {
    background-color: var.$color-danger;
    color: var.$white;
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
    border-radius: var.$radius-pill;
    min-width: 2rem;
    text-align: center;
  }

  &-content {
    padding: 0 var.$padding-md var.$padding-md var.$padding-md;
  }

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var.$gap-sm;
    padding: var.$padding-lg var.$padding-md;
    text-align: center;

    svg,
    p {
      color: #10b981;
      font-weight: 500;
      margin: 0;
    }
  }

  &-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 960px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #d1d5db;
      border-radius: 4px;
    }
  }

  &-list-item {
    display: flex;
    align-items: center;
    gap: var.$gap-xs;
    padding: var.$padding-sm 0;
    font-size: 1rem;
    white-space: nowrap;

    &:not(:last-child) {
      border-bottom: 1px dashed var.$color-gray-300;
    }

    svg {
      color: var.$text-subtle;
      flex-shrink: 0;
    }
  }

  &-department {
    color: var.$text-subtle;
    font-weight: 500;
    background-color: var.$color-gray-200;
    padding: 0.15rem 0.5rem;
    border-radius: var.$radius-sm;
    font-size: 0.75rem;
    flex-shrink: 0;
  }

  &-name {
    color: #4b5563;
    font-weight: 500;
  }
}