@use "../../../src/styles/abstracts/mixins" as *;
@use "../../../src/styles/abstracts/variables" as var;


.bar-chart-container {
  padding: var.$padding-md;
}
.chart-title {
  @include chart-title;
}
.chart-wrapper{
  padding:  10px 0;
}
.chart-info {
  margin-top: var.$gap-md;
  display: flex;
  flex-direction: column;
  gap: var.$gap-sm;
  font-size: 0.95rem;

  .legend-item,
  .total-info {
    display: flex;
    align-items: center;
    gap: var.$gap-sm;

    .label {
      flex: 1;
      color: var.$text-color;
    }

    .value {
      font-weight: 600;
      color: var.$text-color;
    }

    .color-indicator {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: var.$radius-pill;

      &.primary {
        background-color: var.$color-primary;
      }

      &.danger {
        background-color: var.$color-danger;
      }
    }
  }
}
