/* src/components/section/FlexSection/FlexSection.module.scss */
.flex-section {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;

  @media (max-width: 1700px) {
    flex-direction: column;

    .section-today {
      order: 1;
    }

    .section-vote {
      order: 2;
    }

    .section-notvoted {
      order: 3;
    }
  }
}
