.flex-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
  
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
  
.section {
  padding: 20px;
  margin: 20px;
  position: relative;

  &.with-border {
    border-bottom: 1px solid #e5e7eb;
  }
}
