@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins" as *;

.app-title {
  display: inline-flex;
  align-items: center;
  gap: var.$gap-xs;
  margin: 0 0 var.$margin-md;
  font-family: var.$font-body;
  font-weight: 600;
  line-height: 1.3;

  // 아이콘 스타일
  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var.$color-primary;
    line-height: 1; // 아이콘과 텍스트 높이 정렬
    vertical-align: middle;
  }

  // 텍스트 스타일
  &__text {
    line-height: 1; // 텍스트 베이스라인 조정
    display: inline-block;
    vertical-align: middle;
    margin-top: 4px;
  }

  // variant styles
  &--default {
    color: var.$color-black;
    font-size: var.$font-size-header;
  }

  &--primary {
    color: var.$color-primary;
    font-size: var.$font-size-header;
  }

  &--secondary {
    color: var.$text-subtle;
    font-size: var.$font-size-header-sm;
  }
}
